<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{!-- {{{body}}} --}}
    <!-- header -->
        <header>
            {{>header}}
        </header>
        
        <main>
            {{!-- <h3>This is the Default Layout!</h3> --}}
            {{{body}}}
        </main>
    <!-- footer -->
        <footer>
            {{>footer}}
        </footer>
        
  </body>
</html>